.App {
  text-align: center;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  height: 100%;
}

.dark-mode {
    background-color: #282c34;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    height: 100%;
}

.dark-mode button {
    background-color: #282c34;
    color: white;
}

